@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h2>Navigation</h2>
    <p>
        <a asp-controller="Tournament" asp-action="Index" class="btn btn-primary">Tournaments</a>
        <a asp-controller="Driver" asp-action="Index" class="btn btn-primary">Drivers</a>
        <a asp-controller="Vehicle" asp-action="Index" class="btn btn-primary">Vehicles</a>
    </p>
</div>
