@model IEnumerable<Vehicle>
<h1>All Vehicles</h1>
<p>
	<a asp-action="Create">Create New Vehicle</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Vehicle Id</th>
			<th>Vehicle Model</th>
			<th>Driver Name</th>
			<th>View Driver</th>
		</tr>
	</thead>
	<tobdy>
		@foreach (var item in Model)
		{
			<tr>
				{
				<td>@item.VehicleId</td>
				<td>@item.Model</td>
				<td>@(item.Driver != null ? item.Driver.Name : "No Driver")</td>
				<td>
					@if (item.Driver != null)
					{
						<a asp-action="ViewDriver" asp-route-id="@item.Driver.DriverId">View Driver</a>
					}
					else
					{
						<span>No Driver</span>
					}
				</td>
			</tr>
		}	
	</tobdy>
</table>